[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
requests = "*"
crispy-forms-materialize = "*"
django-on-heroku = "*"
gunicorn = "*"
channels = "*"
cloudinary = "*"
dj3-cloudinary-storage = "*"
django-autoslug = "*"

[dev-packages]

[requires]
python_version = "3.9"
