<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>

    <!-- <form action="{% url 'users:log_in' %}" method="POST">
        {% csrf_token %}
        <input type="text" id="username" name="username" placeholder="Enter your username">
        <input type="password" id="password" name="password" placeholder="Enter your password">
        <button type="submit">Log in</button>
    </form>
     -->

    <h1 class="center-align">Log in</h1>
    
    <div class="row center-align">
        <form class="col s12" action="{% url 'users:log_in' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="username" name="username" placeholder="Enter your username">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="password" id="password" name="password" placeholder="Enter your password">
                </div>
            </div>
          

            <!-- <button type="submit">Log in</button> -->

            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
            

        </form>
    </div>
    
</body>

</html>