<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Browse</title>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'capstone_app/style.css' %}">

  <script src="{% static 'capstone_app/javascript/main.js' %}" defer></script>

  <style>
    #novel {
      padding-left: 10px;
    }

    h2 {
      padding-bottom: 30px;
    }
  </style>


</head>

<body>

  <nav>
    <div class="nav-wrapper deep-purple accent-1">
      <a href="{% url 'capstone_app:index' %}" class="brand-logo" id="novel">Novel Idea</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="nav-item">
          <a class="nav-link link-info" href="#">{% if user.is_authenticated %}
            Welcome, {{ user.first_name }}
        <li><a class="nav-link link-info" href="{% url 'capstone_app:profile' %}">Profile</a></li>
        <li><a class="nav-link link-info" href="{% url 'capstone_app:timeline' %}">Timeline</a></li>
        <li><a class="nav-link link-info" href="{% url 'users:log_out' %}">Logout</a></li>
        </li>
        {% endif %}
        </a>
      </ul>
    </div>
  </nav>

  <main>

    <div id="app">

      <div class="container">

        {% if user.is_authenticated %}

        <div class="section center-align">

          <h2>Search for a book:</h2>

          <div class="row">
            <form @submit.prevent="findBook" class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">book</i>
                  <textarea id="icon_prefix2" class="materialize-textarea" v-model="userBook"></textarea>

                  <label for="icon_prefix2">Book title:</label>
                </div>
                <button class="btn waves-effect waves-light deep-purple lighten-2 input-field" type="submit">Submit
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </form>

          </div>

          <div class="divider"></div>

          <div class="section">


            <div class="center-align" v-if="foundBooks">

              <img v-bind:src="foundBooks.items[0].volumeInfo.imageLinks.thumbnail" alt="book cover">
              <br>
              <br>
              [[ foundBooks.items[0].volumeInfo.description ]]
              <br>
              <br>
              <a v-bind:href="foundBooks.items[0].volumeInfo.previewLink" target="_blank">Click here to read a preview
                of the book!</a>

            </div>

            <div class="container center-align">

               <form @submit.prevent="alreadyRead">
                  <input type="hidden" v-model="newBook">
                  <button class="btn waves-effect waves-light deep-purple lighten-2 input-field" type="submit">
                    Add to read
                  </button>
                  {% csrf_token %}
                </form>


                <form @submit.prevent="wantToRead">
                  <input type="hidden" v-model="newBook">
                  <button class="btn waves-effect waves-light deep-purple lighten-2 input-field" type="submit">
                    Add to want to read
                  </button>
                  {% csrf_token %}
                </form>


                <form @submit.prevent="currentlyReading">
                  <input type="hidden" v-model="newBook">
                  <button class="btn waves-effect waves-light deep-purple lighten-2 input-field" type="submit">
                    Add to currently reading
                  </button>
                  {% csrf_token %}
                </form> 


            </div>


          </div>




          <!-- Author Search -->

          <!-- <div class="row">
        <form @submit.prevent="findAuthor" class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">person_outline</i>
              <textarea id="icon_prefix2" class="materialize-textarea" v-model="userAuthor"></textarea>
              <label for="icon_prefix2">Author name:</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light deep-purple lighten-2" type="submit">Submit
            <i class="material-icons right">send</i>
          </button>
        </form>

        <div v-for="author in foundAuthors">
          <p>[[ author ]]</p>
        </div>

      </div> -->

        </div>

        {% endif %}

      </div>


  </main>

  <footer class="page-footer deep-purple accent-1">
    <!-- <div class="container">
      <div class="row">
         <div class="col l6 s12">
           <h5 class="white-text">Footer Content</h5> 
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> 
        </div> 
        <div class="col l4 offset-l2 s12"> 
          <h5 class="white-text">Links</h5> 
              <ul> 
                <li><a class="grey-text text-lighten-3" href="https://developers.google.com/books">Link to Google Books API</a></li> 
                 <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> 
              </ul> 
        </div>
      </div>
    </div> -->
    <div class="footer-copyright center-align">
      <div class="container">
        © 2021 Megan Bradner
      </div>
    </div>
  </footer>

</body>

</html>