<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Browse</title>

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'capstone_app/style.css' %}">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">


  <style>
    * {

      font-family: 'Manrope', sans-serif;

    }
  </style>
</head>

<body>

  <nav>
    <div class="nav-wrapper deep-purple accent-1">
      <a href="{% url 'capstone_app:index' %}" class="brand-logo">Novel Idea</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="nav-item">
          <a class="nav-link link-info" href="#">{% if user.is_authenticated %}
            Welcome, {{ user.first_name }}
        <li><a class="nav-link link-info" href="{% url 'capstone_app:profile' %}">Profile</a></li>
        <li><a class="nav-link link-info" href="{% url 'capstone_app:timeline' %}">Timeline</a></li>
        <li><a class="nav-link link-info" href="{% url 'users:log_out' %}">Logout</a></li>
        </li>
        {% endif %}
        </a>
      </ul>
    </div>
  </nav>
  <main>
    
    <div class="carousel">

      <a class="carousel-item" href="#"><img src="{% static 'capstone_app/images/beach.jpeg' %}" alt="first"></a>
      <a class="carousel-item" href="#"><img src="{% static 'capstone_app/images/people.jpeg' %}" alt="second"></a>
      <a class="carousel-item" href="#"><img src="{% static 'capstone_app/images/heart.jpeg' %}" alt="third"></a>
      <a class="carousel-item" href="#"><img src="{% static 'capstone_app/images/beach.jpeg' %}" alt="fourth"></a>
      <a class="carousel-item" href="#"><img src="{% static 'capstone_app/images/people.jpeg' %}" alt="fifth"></a>
    
    </div>


  </main>


  <footer class="page-footer deep-purple accent-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <!-- <h5 class="white-text">Footer Content</h5> -->
          <!-- <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->
        </div>
        <div class="col l4 offset-l2 s12">
          <!-- <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul> -->
        </div>
      </div>
    </div>
    <div class="footer-copyright center-align">
      <div class="container">
        © 2021 Megan Bradner
      </div>
    </div>
  </footer>

  <script>

    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.carousel')
      var instances = M.Carousel.init(elems, options)
    })

  </script>

</body>

</html>