<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timeline</title>

  {% load static %}

  {% load crispy_forms_tags %}


  <link rel="stylesheet" type="text/css" href="{% static 'capstone_app/style.css' %}">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">



  <style>
    .update {
      padding: 20px;
    }

    .gray {
      opacity: 0.6;
      filter: alpha(opacity=60);
    }

    #id {
      margin: 20px;
    }

    i {
      padding: 10px;
    }

    #section {
      display: inline;
    }
  </style>

</head>

<body>

  <nav>
    <div class="nav-wrapper deep-purple lighten-3">
      <a href="{% url 'capstone_app:index' %}" class="brand-logo">Novel Idea</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="nav-item">
          <a class="nav-link link-info" href="{% url 'capstone_app:profile' %}">{% if user.is_authenticated %}
            Welcome, {{ user.first_name }}
        <li><a class="nav-link link-info" href="{% url 'capstone_app:browse' %}">Browse</a></li>
        </li>
        <li><a class="nav-link link-info" href="{% url 'users:log_out' %}">Logout</a></li>
        </li>

        {% endif %}
        </a>
      </ul>
    </div>
  </nav>

  <main>

    <div class="container">

      <h5 class="center-align">Update your reading progress:</h5>

      <form method="POST" class="update-form" action="">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="shelf waves-effect waves-light btn-small deep-purple lighten-2" type="submit"
          name="action">Submit</button>
      </form>

    </div>

    <br>
    <br>
    <br>

    <div class="divider"></div>

    <div class="container">

      <h5 class="center-align">See what your friends are reading!</h5>

      <br>

      <ul class="collection">


        {% for update in updates %}

        {% for user in users %}

        {% if update.name in user.first_name %}

        <li class="collection-item avatar">

          <img src="{{ user.icon.url }}" alt="user icon" class="circle">

          <span class="title">
            {{ user.username }}
          </span>


          <p>"{{ update.update }}"<br><br>

            on page
            {{ update.page_number }}
            of:

            <br>
            <br>

            <img src="{{ update.book.image }}" alt="book image">


          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">bookmark</i></a>

          <br>


          <div class="divider"></div>

          <div class="section" id="section">


            <p class="gray"><i class="material-icons" style="font-size: 17px;">thumb_up</i>
              likes: {{ update.number_of_likes }}</p>


          </div>

          <div class="section" id="section">

            <p class="gray"><i class="material-icons" style="font-size: 17px;">message</i> comments: </p>
          </div>


          <ul class="collection">

            {% for comment in comments %}

            {% if comment.post.update == update.update %}

            <li class="collection-item">

              "{{ comment.comment }}"
              <br>

              - {{ comment.name }}


              <br>

            </li>

            {% endif %}

            {% endfor %}


          </ul>


        </li>


        <div class="valign-wrapper">

          <form @submit.prevent action="{% url 'capstone_app:like_update' update.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ update.id }}">
            <button class="btn waves-effect waves-light deep-purple lighten-2 input-field btn-small"
              id="id">Like</button>
          </form>

          <button data-target="modal1" class="btn modal-trigger deep-purple lighten-2 btn-small">Comment</button>
          <div class="divider"></div>

        </div>

        <div class="divider"></div>

        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Add new comment:</h4>


            <form method="POST" class="comment-form" action="">
              {% csrf_token %}
              {{ second_form.as_p}}
              <button class="shelf waves-effect waves-light btn-small deep-purple lighten-2" type="submit"
                name="action">Comment</button>
            </form>

          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>

        {% endif %}

        {% endfor %}

        {% endfor %}

      </ul>

    </div>

  </main>

  <footer class="page-footer deep-purple accent-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <!-- <h5 class="white-text">Footer Content</h5> -->
          <!-- <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->
        </div>
        <div class="col l4 offset-l2 s12">
          <!-- <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul> -->
        </div>
      </div>
    </div>
    <div class="footer-copyright center-align">
      <div class="container">
        © 2021 Megan Bradner
      </div>
    </div>
  </footer>

  <script>

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems);
    });


    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);
    })

  </script>

</body>

</html>